suites:
    event_suite:
        namespace: EventMediator
        psr4_prefix: EventMediator
        spec_path: specs
        spec_prefix: Spec
        src_path: src
extensions:
    - PhpSpec\Extension\CodeCoverageExtension
    #- PhpSpec\NyanFormattersExtension\Extension
formatter.name: dot
code_coverage:
  format:
    #- html
    - clover
  output:
    #html: coverage
    clover: build/clover.xml
